.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem 1rem;
  grid-auto-flow: dense;
}

[href$=".doc"] {
    grid-column: 1;
    background-color: orange;
}

[href$=".xls"] {
    grid-column: 2;
    background-color: olivedrab;
}

[href$=".pdf"] {
    grid-column: 3;
    background-color: hotpink;
}

[href$=".txt"] {
  grid-column: 4;
  background-color: rgb(31, 29, 176);
}

.container a {
    display: block;
    padding: 6px 12px;
    color: #fff;
    text-decoration: none;
}